.coverage
.env
.env.*
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
*.egg-info/
*.onnx
*.ort
*.pt
*.pth
*.py[cod]
*.wav
__pycache__/
build/
dist/
benchmark/results/
/my-recordings/
/recordings/
